
<div id="bg">
    <app-navbar></app-navbar>
    
  <!--<div Style="padding-top: 10%; text-align: center ;color:blueviolet" *ngFor="let item of items ;let i=index">
    <p><b>parent data</b></p>  
    id :  {{item.parentId}} <br>
      mother name : {{item.motherMaidenName}} <br>
      mother nic no:  {{item.nic}} <br>
      registeration no: {{item.fatherName}} <br>
      crs : {{item.crs}}<br>
     <p><b>additional info</b></p>
     infoid : {{item.addinfo.infoId}}<br>
     bht no : {{item.addinfo.motherBhtNo}} <br>
     details of delivary : {{item.addinfo.detailsOfDelivary}}  
    
<!--<form name="form" (ngSubmit)="f.form.valid && createUser()" #f="ngForm" novalidate>
      
      <h3>Register</h3>
      <div class="form-group" >
        <label for="InputUsername">username</label>
        <input type="text" [(ngModel)]="user.username" #username="ngModel" name="username" class="form-control" id="username"  placeholder="Enter username"
        [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
        
        <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
          <div *ngIf="username.errors.required">username is required</div>
        </div>
      </div>

        <div class="form-group">
            first name:
            <input type="text"  [(ngModel)]="user.firstname" #firstname="ngModel" name="firstname" class="form-control" id="firstname"  placeholder="Enter first name"
            [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }" required />
            <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
              <div *ngIf="firstname.errors.required">firstname is required</div>
            </div>
          </div>
            
     
      <div class="form-group">
          <label for="InputLastname">last name</label>
          <input type="text" [(ngModel)]="user.lastname" #lastname="ngModel" name="lastname" class="form-control" id="lastname"  placeholder="Enter last name"
          [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }" required />
          <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
            <div *ngIf="lastname.errors.required">lastname is required</div>
          </div>
        </div>
  
      <div class="form-group">
        <label for="InputPassword1">Password</label>
        <input type="password" [(ngModel)]="user.password"  #password1="ngModel" name="password1" class="form-control" id="password1" placeholder="Password"
        [ngClass]="{ 'is-invalid': f.submitted && password1.invalid }" required minlength="8" />
        <div *ngIf="f.submitted && password1.invalid" class="invalid-feedback">
            <div *ngIf="password1.errors.minlength">Password must be at least 8 characters</div>
          <div *ngIf="password1.errors.required">password is required</div>
        </div>
      </div>
      
       
      
      
      <button type="submit" class="btn btn-primary" >Register</button> 
      <button type="reset" class="btn btn-primary">Clear</button>
    </form>
    </div>-->
    
  </div>
  