/*#bg{
    background-image:  url(/src/assets/image/webiis.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1366px ;
  height: 830px;
  color: rgb(12, 1, 1);
}*/
#position{
    position: absolute; left:1215px; top:106px;
    width:26%;
}

#username,#password,#firstname,#lastname,#id{
    width:405px
}
#login{
    margin-left:79%;
     padding-top: 1%;
     font-size: 16pt;
 }
